<div class="container">
  <br>

  <div class="jumbotron">
    <h1 class="display-3" id = "page-header" >BILLS</h1>
    <img src="/assets/images/money.png" width="100"></img>
  </div>
  <br>
  <div class ="row">
    <div class="col-md-12">
      <div class="panel text-center">
        <div class="panel-heading"><h3 class="panel-title">PAYMENTS DUE IN:</h3><h3 id=DateDiv></h3></div>
        <div class="panel-body">
          <ul class = "list-group">
            {{#each payments}}
              {{#if this.active_status}}
                <li class = "list-group-item">
                  {{this.bill_name}}
                  {{#if this.paid_status}}
                    <span class="glyphicon glyphicon-ok-sign" id="okCheck"></span>
                    PAID: {{this.date_paid_formatted}}
                    AMOUNT: {{this.amount}}
                    CONFIRMATION ID: {{this.confirmation_code}}  
                  {{/if}}
                  {{#unless this.paid_status}}
                    <span class="glyphicon glyphicon-minus-sign" id="minus"></span>
                    DUE: {{this.month_due_formatted}}
                  {{/unless}}
                  <form action="/api/bills/{{this.bill_id}}?_method=PUT" method="POST">
                    <input type="hidden" name="bill_id" value="{{this.bill_id}}">
                    <button class= 'btn btn-danger' type="submit">INACTIVATE</button>
                  </form>
                  {{#unless this.paid_status}}
                  <form action="/api/payments/{{this.payment_id}}?_method=PUT" method="POST">
                    <input type="hidden" name="payment_id" value="{{this.payment_id}}">
                    <label for="validationCustom01"><strong>Amount</strong></label>
                    <input type="text" class="form-control" id="amount" name="amount" placeholder="(Amount)" required >
                    <label for="validationCustom01"><strong>Confirmation ID</strong></label>
                    <input type="text" class="form-control" id="confirmID" name="confirmID" placeholder="(Confirmation ID)" required >
                    <button class= 'btn btn-primary' type="submit">PAY</button>
                  </form>
                  {{/unless}}
                 </li>
              {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class ="row">
    <div class="col-md-12" id = "center-panel">
      <div class="panel text-center">
        <div class="panel-heading"><h3 class="panel-title">ADD A NEW BILL</h3></div>
        <div class="panel-body">
          <form class="create-update-form form-inline action="/api/bills?_method=POST" method="POST">
            <div class="form-group">
              <label for="validationCustom01"><strong>Bill Name</strong></label>
              <input type="text" class="form-control" id="billName" name="billName" placeholder="(Required)" required >
              <label for="validationCustom01"><strong>Bill Category</strong></label>
              <input type="text" class="form-control" id="billCategory" name="billCategory" placeholder="(Required)" required>
              <label for="validationCustom01"><strong>Bill Frequency</strong></label>
              <input type="text" class="form-control" id="frequency" name="frequency" placeholder="(Required)" required>
            </div>
            <button class= 'btn btn-danger' type="submit" id="submitBtn">ADD BILL</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class = "row">
    <div class="col-md-12">
      <div class="panel text-center">
        <div class="panel-heading"><h3 class="panel-title">INACTIVE BILLS</h3></div>
        <div class="panel-body">
          <ul class = "list-group">
            {{#each bills}}
              {{#unless this.active_status}}
                <li class = "list-group-item">
                  {{this.bill_name}}
                  {{this.bill_category}}
                </li>
              {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>

</div>

